@page "/"

<h3>Inicio</h3>
<p>Elegí una sección:</p>
<ul>
  <li><NavLink href="/admin/instruments">Instrumentos</NavLink></li>
  <li><NavLink href="/admin/boxes">Cajas</NavLink></li>
  <li><NavLink href="/admin/boxitems">Contenido de Cajas</NavLink></li>
  <li><NavLink href="/search">Búsqueda</NavLink></li>
</ul>
