@inherits LayoutComponentBase
<header>
  <a href="/">Kernel</a>
  <nav>
    <NavLink href="/" Match="NavLinkMatch.All">Inicio</NavLink> |
    <NavLink href="/admin/instruments">Instrumentos</NavLink> |
    <NavLink href="/admin/boxes">Cajas</NavLink> |
    <NavLink href="/admin/boxitems">Contenido</NavLink> |
    <a href="/Identity/Account/Login">Ingresar</a>
  </nav>
</header>

<main>
  @Body
</main>
