@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul>
  @if (SignInManager.IsSignedIn(User))
  {
    <li><a href="/Identity/Account/Manage">Mi cuenta (@User.Identity?.Name)</a></li>
    <li>
      <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
        <button type="submit">Salir</button>
      </form>
    </li>
  }
  else
  {
    <li><a href="/Identity/Account/Register">Registrarse</a></li>
    <li><a href="/Identity/Account/Login">Ingresar</a></li>
  }
</ul>